CacheControl==0.12.6
certifi==2019.11.28
chardet==3.0.4
idna==2.8
msgpack==0.6.2
pyparsing==2.4.6
requests==2.22.0
six==1.14.0
urllib3==1.25.8
webencodings==0.5.1

Django~=3.1
pip~=20.2.2
keyring~=18.0.1
pytz~=2019.3
wheel~=0.34.2
sqlparse~=0.3.1
asgiref~=3.2.10
PyYAML~=5.3.1
Jinja2~=2.10.1
numpy~=1.17.4
toml~=0.10.1
cryptography~=2.8
lxml~=4.5.0
simplejson~=3.16.0
setuptools~=49.6.0