{% extends "base.html" %}
{% load static %}

{% block base_head %}

<meta content="">

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit
                longer
                so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
    </div>
</div>
{% if premium_content %}{% endif %}
{% if request.user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {{ premium_content }}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}